# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Composer
vendor/*
!vendor/.gitkeep

# WordPress
web
!web/index.php
!web/wp-config.php
!web/wp-content

# Application
web/wp-content/plugins/*
!web/wp-content/plugins/.gitkeep
!web/wp-content/plugins/our-team-by-woothemes/
!web/wp-content/plugins/wp-forwarded-host-urls-master/
web/wp-content/mu-plugins/*

web/wp-content/upgrade
web/wp-content/uploads/*
!web/wp-content/uploads/.gitkeep


# Logs
*.log
error_log

# WP-CLI
wp-cli.local.yml

var/*
!var/cache/.gitkeep
!var/log/.gitkeep
config/backup/*

# IDEs
.idea

# Terraform
**/.terraform/*
