.so-widget-sow-cta-default-575221c460f3 .sow-cta-base {
  border: 1px solid #e3e3e3;
  background-color: #f8f8f8;
}
.so-widget-sow-cta-default-575221c460f3 .sow-cta-base .sow-cta-text {
  float: right;
}
.so-widget-sow-cta-default-575221c460f3 .sow-cta-base .so-widget-sow-button {
  float: left;
  margin-right: 1em;
}