.so-widget-sow-cta-default-17df3fd86ec4 .sow-cta-base .sow-cta-text {
  float: right;
}
.so-widget-sow-cta-default-17df3fd86ec4 .sow-cta-base .so-widget-sow-button {
  float: left;
  margin-right: 1em;
}