@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Golos+Text:wght@400..900&display=swap');

$govuk-font-family: "Golos Text", system-ui, sans-serif;
$govuk-brand-colour: #8822aa;
$govuk-link-colour: #660088;
$govuk-link-hover-colour: #440066;
$govuk-link-visited-colour: #333366;
