@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Golos+Text:wght@400..900&display=swap');

$govuk-font-family: "Golos Text", system-ui, sans-serif;

$govuk-brand-colour: #005932;
$govuk-link-colour: #005932;
$govuk-link-hover-colour: #004d2b;
$govuk-link-visited-colour: #004225;

$brg: #004225;


.govuk-header {
  background-color: #ffffff !important;
  margin: 0 15px;

  @media (min-width: 641px) {
    margin: 0 30px;
  }
  @media (min-width: 1024px) {
    max-width: 960px;
    margin: auto;
  }

  .govuk-header__container {
    margin-left: 0;
    padding-top: 15px;

    .govuk-header__logo {
      margin-bottom: 15px;
    }

    .govuk-header__link {
      color: $govuk-link-colour !important;
    }
  }
}

.govuk-service-navigation {
  margin: 0 15px;

  @media (min-width: 641px) {
    margin: 0 30px;

    .govuk-width-container {
      margin: 0 30px;
    }
  }
  @media (min-width: 1024px) {
    max-width: 960px;
    margin: auto;
  }
}


ul.govuk-list.govuk-list--bullet {
  max-width: calc(38em - 20px);
}


.hero {
  position: relative;

  .text {
    padding: 4%;
    background-color: $govuk-brand-colour;
    font-family: $govuk-font-family;

    @media (min-width: 954px) {
      position: absolute;
      left: 19px;
      width: 420px;
      padding: 38px;
    }

    h1 {
      margin-top: 0;
      color: #ffffff;
    }

    p {
      color: #ffffff;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    display: block;

    @media (max-width: 953px) {
      width: 100% !important;
      max-height: 350px;
      object-fit: cover;
      object-position: top;
    }
  }
}

ul.cards-321-up {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    box-sizing: border-box;
    padding: 0 15px 10px 15px;
    list-style-type: none;

    width: 100%;
    @media (min-width: 450px) {
      width: 50%;
    }
    @media (min-width: 750px) {
      width: 33.3333333333%;
    }
  }
}

ul.cards-with-coloured-bar-on-top {
  li {
    &::before {
      content: "";
      background-color: $govuk-brand-colour;
      display: block;
      height: 10px;
      margin-bottom: 20px;
    }
  }
}

.app-prose-scope {
  .member-summary {
    .member-image-link {
      display: block;
      text-align: center;
    }

    img {
      max-width: min(250px, 100%);
      @media (min-width: 750px) {
        max-width: min(300px, 100%);
      }
      border-radius: 50%;
  
      object-fit: cover;
      object-position: center 0;
    }
  
    h2 {
      text-align: center;
      color: inherit;
    }
    h3 {
      text-align: center;
    }
  }

  .member-page-image img {
    border-radius: 50%;
  }
}
